set gfxpayload=keep
set default=0
set timeout=5
insmod all_video
insmod gfxterm
insmod png
insmod part_gpt
insmod part_msdos
insmod ext2

menuentry "SalamOS 2026.1 (Live)" {
  linux /live/vmlinuz boot=live quiet splash hostname=SalamOS username=salamos
  initrd /live/initrd
}
menuentry "SalamOS 2026.1 (Live - Safe Mode)" {
  linux /live/vmlinuz boot=live quiet splash hostname=SalamOS username=salamos nomodeset
  initrd /live/initrd
}
menuentry "SalamOS 2026.1 (Debug Mode)" {
  linux /live/vmlinuz boot=live hostname=SalamOS username=salamos
  initrd /live/initrd
}
menuentry "System Restart" { reboot }
menuentry "System Shutdown" { halt }
