DEFAULT vesamenu.c32
TIMEOUT 50
PROMPT 0

MENU TITLE SalamOS 2026.1 (Zen)
MENU BACKGROUND background.png
MENU COLOR title 0 #dce6ff #0d1123
MENU COLOR sel 7 #ffffff #7c3aed
MENU COLOR unsel 0 #dce6ff #0d1123
MENU COLOR border 0 #7c3aed #0d1123
MENU COLOR hotsel 7 #ffffff #7c3aed
MENU COLOR hotkey 1 #7c3aed #0d1123

LABEL live
  MENU LABEL ^Start SalamOS 2026.1 (Live)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd boot=live quiet splash hostname=SalamOS username=salamos

LABEL safe
  MENU LABEL ^Safe Mode (nomodeset)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd boot=live quiet splash hostname=SalamOS username=salamos nomodeset

LABEL debug
  MENU LABEL ^Debug Mode
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd boot=live hostname=SalamOS username=salamos

LABEL reboot
  MENU LABEL ^Reboot
  COM32 reboot.c32

LABEL halt
  MENU LABEL ^Shutdown
  COM32 poweroff.c32
